.reseaux {
    background-color:#6c7d5ba3;
    border-style:solid;
    width:100%;
    border: none;
    height : 30vh;
    color: #fcf7f1;
    text-align: center;
    margin-top: 150px;

    h2{
        display:flex;
        justify-content: center;
        padding-top: 20px;
        font-size:20px;
        margin-bottom: 20px;
    }


    .follow {
        display:flex;
        justify-content: space-around;

        div {
            display:flex;
            flex-direction: column;
            align-items: center;
            gap : 50px;
        }
    }

    img{
        height : 5vh;
        width : 5vh;
    }

    p{
        color:var(--color-onglet-button);
        font-size:15px;
    }
}