.header {
    width : 100%;
    padding : 20px 50px;
    background-color: #7EAA92;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
    display:flex;

    .onglets{
        display: flex;
        align-items: center;
        gap:20px;
        width:100%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    

    .panier-page{
        width : 100%;
        display:flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    a {
        color :white;
        font-weight:500;
        text-decoration:none;
        font-size: 20px;
        transition: 200ms;
        width : 15%;
    }

    .active{
        color: #435649;
    }

    a:hover{
        
        color: #435649;
    }

}
.logo{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
.logo img{
    width:10%;
    height:10%;
    margin : 0 auto;
}