.boutures-presentation {
    display: flex;
    justify-content: space-between;
    margin-bottom : 60px;
    padding-inline: 100px;

    img {
        max-width: 35%;
        border-radius: 10px;
    }

    p{
        font-size: 20px;
    }

    h1{
        font-size: 40px;
        font-weight: 600;
    }

    .text-boutures{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-right: 50px;
        color: var(--color-text) ;
    }
}

.container-icone{
display: flex;
flex-direction: column;

.ligne{
    border-bottom: 1px solid var(--color-text);
    width:60%;
    margin: 0 auto;
    margin-bottom: 40px;
}
}

.icones{
    display : flex; 
    justify-content: space-around;
    padding-inline: 200px;
    margin-bottom: 50px;
    text-align: center;
    

    img{
        max-width:13%;
        max-height:70%;
    }

    p{
        font-weight: bold;
        color: var(--color-text) ;
        font-size: 15px;
    
    }
}



.cardplants{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 20vw;
    height: 45vh;
    font-size: 20px;
    color: var(--color-text) ;
    font-weight: 500;
    gap : 15px;
    margin-bottom: 50px;
    transition:all 0.5s;

    &:hover{
        scale:105%;
    }


    img{
        height:22vh;
        width:10vw;
        margin-top: 30px;
        border-radius: 10px;
    }

    .quantite {
        font-size: 15px;
    }

    .buttons{
        display:flex;
        gap:10px;
        align-items: center;
        justify-content: center;
        width: 100%;
       
        
    }

    button{
        height: 4vh;
        width:6vw;
        background-color: var(--primary-background-color);
        border:none;
        border-radius: 10px;
        color: var(--color-onglet-button);
        font-weight:400;
        align-items: center;
        font-size: 15px;
        cursor:pointer;

        &:hover{
            filter:brightness(1.1);
        }
    }

    // .handledecrease{
    //     height: 2vh;
    //     width: 1.5vw;
    // }

    // .panierDecrease{
    //     display: flex;
    //     gap : 5px;
    // }
}

.allcards{
    display:flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    text-decoration: none;

}