.product-details{
    display:flex;
    justify-content: space-between;
    padding-inline: 300px 300px;
    width : 100%;
    margin-bottom: 25px;

    .img-product{
        img{
            border-radius: 50px;
            height:100%;
            width:70%;
            object-fit: cover;
        }
        
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        margin-right: 50px;
        color: var(--color-text) ;
        max-width: 50%;

        h1{
            margin-bottom: 20px;
            font-size: 30px;
        }

        p{
            font-size: 20px;
            margin-bottom: 40px;
        }

        .button-product{
        display: flex;
        gap: 30px;
      
        
            button{
            width: 40px;
            height: 40px;
            border-radius:50%;
            border-style: none;
            font-size: 18px;
            background-color: var(--primary-background-color);
            color:var(--color-onglet-button);
            font-weight: 600;
            cursor:pointer;

            &:hover{
                filter:brightness(1.1);
              }
            }
            
            p{
                font-size: 20px;
            }

        }

        .button-panier {
            button {
            background-color: var(--primary-background-color);
            color:var(--color-onglet-button);
            border-style: none;
            font-size:15px;
            border-radius: 10px;
            padding: 8px;
            width: 10vw;
            margin-bottom: 20px;
            }
            
        }
    }
}

.entretien{
    
    margin-inline: 300px;
    text-align: center;

    h2{
        font-size: 25px;
        color: var(--color-text);
        margin-bottom:15px;
    }
    p{
        font-size: 18px;
        color: var(--color-text);
        
    }

    img{
        height:10vh;
    }

}